.editContainer {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}
.editContainer h1{
    color: black;
}
.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editForm input,
.editForm textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  color: rgb(55, 55, 55);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.saveBtn {
  background-color: #2e7d32;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.cancelBtn {
  background-color: #6b7280;
  color: white;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
