.book-card {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  
}

.book-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.book-card h2 {
  margin: 10px 0 5px;
  font-weight: bold;
}

.book-card p {
  margin: 5px 0;
  color: #0e0e0e;
}

.book-card p.price {
  font-weight: bold;
  color: #040404;
}

.book-card .buttons {
  margin-top: 10px;
  display: flex;
}

.book-card .buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 125px;
}

.book-card .buttons .view-details {
  margin-right: 5px;
  background-color: #1e40af;
  color: white;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b52a34;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.modal-box h3 {
  margin-bottom: 10px;
  color: black;
}

.modal-box p{
  color: black;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  color: black;
}

.modal-actions .btn {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;

}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #b52a34;
}

.btn-secondary {
  background-color: #6b7280;
  color: black;
}

.btn-secondary:hover {
  background-color: #4b5563;
}