.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  
}

.book-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.book-card h2 {
  margin: 10px 0 5px;
  font-weight: bold;
}

.book-card p {
  margin: 5px 0;
  color: #c2c0c0;
}

.book-card p.price {
  font-weight: bold;
  color: #f4f0f0;
}

.book-card .buttons {
  margin-top: 10px;
  display: flex;
}

.book-card .buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 125px;
}

.book-card .buttons .view-details {
  margin-right: 5px;
  background-color: #1e40af;
  color: white;
}

.delete-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b52a34;
}
